.popup__button-save {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 2px;
  outline: none;
  font-family: 'Inter', 'Arial', sans-serif;
  padding:14px 124px 18px 125px;
  margin:0;
  border:none;
}

@media screen and (max-width:528px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 17px;
    padding:14px 0 14px 0;


  }

}
