.header__email {
    margin-left: auto;
    margin-right: 24px;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}