.popup__input {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: black;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 13px;
}

.popup__input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid red;
}
